#menu{
	position:fixed;
	background-color:#222;
	height:100%;
	z-index:10;
	width:280px;
	color:#bbb;
	top:0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity:1;
	font-family: 'Source Sans Pro', sans-serif;
}

#menu ul{
	list-style:none;
	margin-top:0;
	padding:0
}
#menu ul li{border-bottom: 1px solid #2a2a2a;}
#menu>ul>li>a{border-left:4px solid #222;}
#menu ul li a{
	color:inherit;
	font-size:16px;
	display:block;
	padding:8px 0 8px 7px;
	text-decoration:none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight: 600;
}
#menu ul a i{
	margin-right:10px;
	font-size: 18px;
	margin-top: 3px;
	width: 20px;
}
#menu ul a i[class*='fa-caret']{float: right;}
#menu ul a:hover,#menu ul a.active{
	background-color:#111;
	border-left-color: #00a4a2;
	color:#FFCC33;
}
#menu ul a:hover i:first-child{color:#00a4a2;}

	/* Submenu */
	#menu ul li a.active+ul{display:block}
	#menu ul li ul{margin-top: 0;display: none;}
	#menu ul li ul li{border-bottom: none;}
	#menu ul li ul li a{padding-left: 30px;}
	#menu ul li ul li a:hover{
		background-color:#1A1A1A;
	}
	/* /Submenu */


/* Cuando este a la Izq, para esconderlo posicionarlo a la Izq a -width */
.left{left:-280px;}
.show{left:0;}

#showmenu{
	margin-left:100%;
	position:absolute;
	top:0;
	padding:6px 10px 7px 10px;
	font-size:1.3em;
	color:#00a4a2;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#container{padding: 50px;}


/*-------------imagenes de transición------------------------*/
  .div-b {
	  
    height: 800px;
    width: 900px;
    background: teal;
    border-radius: 5px;
    animation-name: animacion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  .capital {
    font-family: "rock salt,Shadows Into Light";
    color: rgb(9, 94, 30);
    text-align: center;
  }
  
  @keyframes animacion {
    25% {
      background: url("https://c8.alamy.com/compes/kp775f/la-carne-de-cerdo-se-cortan-y-preparado-en-una-planta-de-procesamiento-de-carne-kp775f.jpg");
    }
    50% {
      background: url("https://www.diariodequeretaro.com.mx/incoming/oy70dn-en-queretaro.jpg/ALTERNATES/LANDSCAPE_1140/EN%20QUER%C3%89TARO.JPG");
    }
    75% {
      background: url("https://www.gob.mx/cms/uploads/article/main_image/62218/_MG_0357.JPG");
    }
  }

  .teal {
    color: rgb(10, 10, 10);
  }
  .font-shadows {
    font-family: "Shadows Into Light";
  }


  .div-a {
    height: 80px;
    width: 350px;
    margin-top: 20px;
    border-width: .4px;
    border-radius: 3px;
	text-align: justify;

   
  }