#lista-compras {
    width: 100%;
  }
  
  #lista-compras td, #lista-compras th {
    text-align: center;
  }
  
  form input.ng-touched.ng-valid {
    background-color: rgba(50, 200, 50, 0.15);
  }

  