#menu{
	position:fixed;
	background-color:#222;
	height:100%;
	z-index:10;
	width:180px;
	color:#bbb;
	top:0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	opacity:1;
	font-family: 'Source Sans Pro', sans-serif;
}

#menu ul{
	list-style:none;
	margin-top:10;
	padding:0
}
#menu ul li{border-bottom: 3px solid #2a2a2a;}
#menu>ul>li>a{border-left:4px solid #222;}
#menu ul li a{
	color:inherit;
	font-size:14px;
	display:block;
	padding:8px 0 8px 7px;
	text-decoration:none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	font-weight: 600;
}
#menu ul a i{
	margin-right:20px;
	font-size: 14px;
	margin-top: 2px;
	width: 5px;
}

#menu ul a i[class*='fa-caret']{float: right;}
#menu ul a:hover,#menu ul a.active{
	background-color:#111;
	border-left-color: #00a4a2;
	color:#FFCC33;
}
#menu ul a:hover i:first-child{color:#00a4a2;}

	/* Submenu */
	#menu ul li a.active+ul{display:block}
	#menu ul li ul{margin-top: 0;display: none;}
	#menu ul li ul li{border-bottom: none;}
	#menu ul li ul li a{padding-left: 30px;}
	#menu ul li ul li a:hover{
		background-color:#1A1A1A;
	}
	/* /Submenu */


/* Cuando este a la Izq, para esconderlo posicionarlo a la Izq a -width */
.left{left:-180px;}
.show{left:0;}

#showmenu{
	margin-left:100%;
	position:absolute;
	top:0;
	padding:6px 10px 7px 10px;
	font-size:1.4em;
	color:#00a4a2;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#container{padding: 50px;}

