/*
  FontAwesome - The best icon font ever :)
  https://fortawesome.github.io/Font-Awesome/

  Thanks to Dave Gandy and all involved in FontAwesome !!!
*/
[class^="icon"], [class*=" icon"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
  }
  
  .iconUser:before {
    content: "\f007";
    margin-right: 6px;
  }
  
  .iconAdd {
    color: gray;
    cursor: pointer;
    float: right;
    font-size: 28px;
    margin-top: 6px;
    text-shadow: 0 0 2px black;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .iconAdd:before {
    content: "\f067";
  }
  .iconAdd:hover {
    color: #9C640C;
  }
  
  .iconRemove {
    cursor: pointer;
    color: #9C640C;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .iconRemove:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  .iconRemove:before {
    content: "\f00d";
  }
  
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
  }
  
  .patternwall {
    color: #e6e6e6;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  
  body {
    font: 14px/22px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url(http://www.patternwall.net/bundles/patternwall/images/patterns/52501e74082ce.png) left top;
  }
  
  .clear {
    clear: both;
  }
  
  .permissionWrapper {
    width: 600px;
    margin: 50px auto;
  }
  
  .listFilterLabel {
    color: black;
    text-shadow: 0 0 1px #F5CBA7;
  }
  
  .listFilterInput {
    margin: 0 0 20px 10px;
    height: 28px;
    line-height: 28px;
    color: black;
    padding: 0 10px;
    background-color: #FBFCFC;
    border: solid 1px #F1C40F;
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  .listFilterInput:focus {
    outline: none;
  }
  
  .permissionsTable {
    width: 100%;
    color: black;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 0 5px black;
    -webkit-box-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
  }
  .permissionsTable tr {
    background-color: #F5EEF8;
  }
  .permissionsTable th, .permissionsTable td {
    height: 42px;
    font-size: 14px;
    font-weight: normal;
    padding: 0 5px;
  }
  .permissionsTable th:first-child, .permissionsTable td:first-child {
    text-align: left;
    padding: 4px 10px;
  }
  .permissionsTable th:last-child, .permissionsTable td:last-child {
    width: 25px !important;
  }
  .permissionsTable th:not(:first-child), .permissionsTable td:not(:first-child) {
    width: 60px;
  }
  .permissionsTable thead th {
    border-bottom: solid 3px #CD5C5C;
  }
  .permissionsTable tbody tr {
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
  }
  .permissionsTable tbody tr td:first-child {
    font-style: italic;
  }
  .permissionsTable tbody tr:hover {
    background-color: #FDFEFE ;
  }
  .permissionsTable tbody tr.focused {
    background-color: #F2F4F4;
  }
  .permissionsTable tbody tr.removeState {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate(200px, 0);
    -ms-transform: translate(200px, 0);
    -webkit-transform: translate(200px, 0);
    transform: translate(200px, 0);
  }
  .permissionsTable tbody tr.addState {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transform: translate(-200px, 0);
    -ms-transform: translate(-200px, 0);
    -webkit-transform: translate(-200px, 0);
    transform: translate(-200px, 0);
  }
  .permissionsTable tbody .userName {
    display: inline-block;
    width: 90%;
  }
  
  .permissionTag {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    text-align: center;
    font-size: 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  .permissionTag[data-perm=view].multi {
    background-color: #c1c1c1;
  }
  .permissionTag[data-perm=view].active {
    color: white;
    background-color: #F7B852;
  }
  .permissionTag[data-perm=edit].multi {
    background-color: #c1c1c1;
  }
  .permissionTag[data-perm=edit].active {
    color: white;
    background-color: #F78452;
  }
  .permissionTag[data-perm=sales].multi {
    background-color: #c1c1c1;
  }
  .permissionTag[data-perm=sales].active {
    color: white;
    background-color: #F7E852;
  }
  .permissionTag[data-perm=shopping].multi {
    background-color: #c1c1c1;
  }
  .permissionTag[data-perm=shopping].active {
    color: white;
    background-color: #93F752;
  }
  .permissionTag[data-perm=inventories].multi {
    background-color: #c1c1c1;
  }
  .permissionTag[data-perm=inventories].active {
    color: white;
    background-color: #FFAB00;
  }
  .permissionTag[data-perm=production].multi {
    background-color: #c1c1c1;
  }
  .permissionTag[data-perm=production].active {
    color: white;
    background-color: #D7BDE2 ;
  }
  .permissionTag[data-perm=report].multi {
    background-color: #c1c1c1;
  }
  .permissionTag[data-perm=report].active {
    color: white;
    background-color: #52F770;
  }
  .permissionTag[data-perm=admin].multi {
    background-color: #c1c1c1;
  }
  .permissionTag[data-perm=admin].active {
    color: white;
    background-color: #85C1E9 ;
  }