
/*
  FontAwesome - The best icon font ever :)
  https://fortawesome.github.io/Font-Awesome/

  Thanks to Dave Gandy and all involved in FontAwesome !!!
*/
[class^="icon"], [class*=" icon"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}


.iconUser:before {
  content: "\f007";
  margin-right: 6px;
}
span{  font-size: larger;
  font-family: Arial, Helvetica, Sans-serif;
  color: rgb(19, 19, 20);
  font-weight: bold; }

.iconAdd {
  color: rgb(27, 168, 41);
  cursor: pointer;
  float: right;
  font-size: 30px;
  margin-top: 6px;
  text-shadow: 0 0 2px black;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.iconAdd:before {
  content: "\f067";
}
.iconAdd:hover {
  color: #9c0c0c;
}


.iconRemove {
  cursor: pointer;
  color: #9c300c;
  float: right;
  font-size: 23px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.9;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.iconRemove:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.iconRemove:before {
  content: "\f00d";
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}


.permissionWrapper{
  width: 1500px;
  margin: auto;
  white-space: nowrap;
  overflow-x: auto;             
}


select {
  background: transparent;
  border: none;
box-sizing: initial;
font-size: larger;

}



.userName{
  font-size: larger;
  font-family: Arial, Helvetica, Sans-serif;
  color: rgb(35, 9, 238);
  font-weight: bold; 
  display: inline-block;
  width: 90%;
}


body {
  font: 15px/22px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url(http://www.patternwall.net/bundles/patternwall/images/patterns/52501e74082ce.png) left top;
}

.clear {
  clear: both;
}







.permissionTag {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: text;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: 20px;
  overflow-x: auto;
  
  
}






 .logo {
  width: 75px;
  float: left;
  margin-right: 15px;
}

.form-group {
  max-width: 500px;
}

.actions {
  padding: 10px 0;
}


.glyphicon-euro {
  font-size: 25px;
}
