<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Compras</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>

  <link rel="stylesheet" href="/CSS/Compras.css">

  <link rel='stylesheet' href='https://cdn.jsdelivr.net/fontawesome/4.1.0/css/font-awesome.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600'>
  <link rel="stylesheet" href="/CSS/Menu.css">


  <head>
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&family=Shadows+Into+Light&display=swap"
      rel="stylesheet">
    </link>

  </head>
</head>

<body>
  <!-- partial:index.partial.html -->
  <!-- menu vertical -->
  <html ng-app="listaCompras">

  <head>
    <title>Compras</title>
    <!-- <script src="https://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js"></script>
  </head>

  <body>

    <nav id="menu" class="left">
      <ul>
        <li><a href="/Html/Home.htm" class="active"><i class="fa fa-home"></i>Inicio</a></li>

        <li>
          <a href="#"><i class="fa fa-laptop"></i>Servicios <i class="fa fa-caret-down"></i></a>
          <ul>
            <li>
              <a href="#"><i class="fa fa-user"></i>Personas <i class="fa fa-caret-down"></i></a>
              <ul>
                <li><a href="/Html/usuariocliente.html">Registro de clientes </a> </li>
                <li><a href="/Html/Usuariosocio.html">Registro de socios</a></li>
                <li><a href="/Html/Usuariojefe.html">Registro de jefe de area</a></li>
              </ul>
            </li>

            <li><a href="/Html/Ventas.html"><i class="fa fa-money" aria-hidden="true"></i>Ventas</a></li>
            <li>
              <a href="#"><i class="fa fa-shopping-cart"></i>Compras<i class="fa fa-caret-down"></i></a>
              <ul>
                <li><a href="/Html/Compras.html">
                    <aria-hidden="true"></i>Mis Compras
                  </a></li>
                <li><a href="/Html/OrdenCompra.html">Generar orden de compra</a> </li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-cubes"></i>Inventarios <i class="fa fa-caret-down"></i></a>
              <ul>
                <li><a href="/Html/InventarioProductos.html">Inventario de Productos</a> </li>
                <li><a href="/Html/InventarioMateriaP.html">Inventario de Materia Prima</a></li>
              </ul>
            </li>
            <li><a href="/Html/Finanzas.html"><i class="fa fa-usd" aria-hidden="true"></i>Finanzas</a></li>
            <li><a href="/Html/loginProduc.html"><i class="fa fa-check-square-o"
                  aria-hidden="true"></i></i>Producción</a></li>
          </ul>
        </li>
        <li><a href="/Html/Informacion.html"><i class="fa fa-info-circle"></i>Información</a></li>
        <li><a href="#"><i class="fa fa-phone"></i>Contactos</a></li>
      </ul>
      <a href="#" id="showmenu">
        <i class="fa fa-align-justify"></i>
      </a>
    </nav>

    <div class="container" ng-controller="listaComprasController">


      <div class="row">

        <div class="col-md-12">
          <div class="page-header">
            <center>
              <h3 class="text-success">Lista de compras</h3>
            </center>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="busqueda">Busque una compra</label>
            <input id="busqueda" ng-model="comprasFilter" class="form-control">
          </div>

          <div>
            <td>
              <DIV align="right"> <a href="#openModal1" class="btn btn-success glyphicon glyphicon-plus"> Nueva </a>
              </DIV>
              <div id="openModal1" class="modalDialogo">
                <div><a href="#close" title="cerrar" class="cerrar">X</a>

                  <!--Modal Boton de insertar-------------------->
                  <table border="0" width="900" style="margin: 0 auto;">
                    <tr>

                      <td>
                        <center>
                          <h3 class="text-success">Complete los campos de compra</h3>
                        </center><br>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <table border="0">
                          <!--ESPACIO-->
                          <tr>
                            <td>
                              <br>
                            </td>
                          </tr>

                          <!--FIN ESPACIO-->
                          <tr>

                            <td></td>
                            <td><label for="fecha">Fecha:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.fecha.$touched && formItem.fecha.$invalid }">
                                <input id="fecha" type="date" name="fecha" ng-model="item.fecha" placeholder="fecha"
                                  class="form-control" placeholder="dd-MM-yyyy" required>
                              </div>
                            </td>


                            <td><label for="precio">Precio/Unitario:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.precio.$touched && formItem.precio.$invalid }">
                                <input id="precio" type="number" name="precio" ng-model="item.precio"
                                  placeholder="precio" class="form-control" required>
                              </div>
                            </td>

                            <td><label for="cantidad">Cantidad:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.cantidad.$touched && formItem.cantidad.$invalid }">
                                <input id="cantidad" type="number" name="cantidad" ng-model="item.cantidad"
                                  placeholder="cantidad" class="form-control" required>
                              </div>
                            </td>
                          </tr>

                          <!--ESPACIO-->
                          <tr>
                            <td>
                              <br>
                            </td>
                          </tr>
                          <!--FIN ESPACIO-->

                          <tr>

                            <td></td>
                            <td><label for="observacion">Observación:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.observacion.$touched && formItem.observacion.$invalid }">
                                <input id="observacion" type="text" name="observacion" ng-model="item.observacion"
                                  placeholder="observacion" class="form-control" required>
                              </div>
                            </td>

                            <td><label for="nombreproducto">Nombre Producto:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.nombreproducto.$touched && formItem.nombreproducto.$invalid }">
                                <input id="nombreproducto" type="text" name="nombreproducto"
                                  ng-model="item.nombreproducto" placeholder="Nombre producto" class="form-control"
                                  required>
                              </div>
                            </td>

                            <td><label for="IDCompra">ID Compra:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.IDCompra.$touched && formItem.IDCompra.$invalid }">
                                <input id="IDCompra" type="text" name="IDCompra"
                                  ng-model="item.IDCompra" placeholder="IDCompra" class="form-control" required>
                              </div>
                            </td>
                          </tr>

                          <!--ESPACIO-->
                          <tr>
                            <td>
                              <br>
                            </td>
                          </tr>
                          <!--FIN ESPACIO-->

                          <tr>

                            <td></td>
                            <td><label for="IDInventario">ID Inventario:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.IDInventario.$touched && formItem.IDInventario.$invalid }">
                                <input id="IDInventario" type="text" name="IDInventario" ng-model="item.IDInventario"
                                  placeholder="IDInventario" class="form-control" required>
                              </div>
                            </td>


                            <td><label for="IDUsuario">ID Usuario:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.IDUsuario.$touched && formItem.IDUsuario.$invalid }">

                                <input id="IDUsuario" type="text" name="IDUsuario" ng-model="item.IDUsuario"
                                  placeholder="IDUsuario" class="form-control" required>
                              </div>
                            </td>

                            <td><label for="tipoCompra">Tipo de Compra:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.tipoCompra.$touched && formItem.tipoCompra.$invalid }">

                                <select class="form-control" id="tipoCompra">
                                  <option id="elija">..Elija el tipo de compra..</option>
                                  <option id="cheque">Cheque</option>
                                  <option id="efectivo">Efectivo</option>
                                  <option id="credito">Crédito</option>
                                </select>
                              </div>
                            </td>
                          </tr>

                          <!--ESPACIO-->
                          <tr>
                            <td>
                              <br>
                            </td>
                          </tr>
                          <!--FIN ESPACIO-->


                          <tr>

                            <td></td>
                            <td><label for="tipoProducto">Tipo de Producto:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.tipoProducto.$touched && formItem.tipoProducto.$invalid }">
                                <select class="form-control" id="tipoProducto">
                                  <option id="elija">..Elija el tipo de producto..</option>
                                  <option id="efectivo">Insumo Oficina</option>
                                  <option id="efectivo">Insumo Venta</option>
                                </select>
                              </div>
                            </td>


                            <td><label for="totalCompra">Total Compra:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.totalCompra.$touched && formItem.totalCompra.$invalid }">
                                <input id="totalCompra" type="number" name="totalCompra" ng-model="item.totalCompra"
                                  placeholder="totalCompra" class="form-control" required>
                              </div>
                            </td>
                          </tr>
                </div>

                </tbody>
                </table>
                <br>
                <center><button class="btn btn-success" type="submit">Listo</button></center>
              </div>
            </td>
            </td>
            </tr>
            </table>

          </div>
        </div>
        </td>
      </div>

      <table id="lista-compras" class="table table-striped">
        <thead>
          <tr>
            <th>Fecha/Ingreso</th>
            <th>Precio/unitario</th>
            <th>Cantidad</th>
            <th>Observación</th>
            <th>Detalle</th>
            <th>IDCompra</th>
            <th>IDInventario</th>
            <th>IDUsuario</th>
            <th>Tipo de Compra</th>
            <th>Tipo de Producto</th>
            <th>Total/Compra</th>

          </tr>
        </thead>
        <tbody>
          <!-- <tr ng-repeat="item in items | filter:comprasFilter"> -->
          <tr ng-repeat="item in filteredItem = (items | filter:comprasFilter) | orderBy:'fecha'">
            <td>{{ item.fecha | date: "dd/MM/yyyy"}}</td>
            <td>{{ item.precio | currency:"L. "}}</td>
            <td>{{ item.cantidad}}</td>
            <td>{{ item.observacion }}</td>
            <td>{{ item.nombreproducto }}</td>
            <td>{{ item.IDCompra }}</td>
            <td>{{ item.IDInventario }}</td>
            <td>{{ item.IDUsuario }}</td>
            <td>{{ item.tipoCompra }}</td>
            <td>{{ item.tipoProducto }}</td>
            <td>{{ item.totalCompra | currency:"L. "}}</td>
            <td>

              <!--Modal PARA EDITAR-------------------->
              <a href="#openModal2" class="btn btn-warning">Editar</a>
              <div id="openModal2" class="modalDialogo">
                <div><a href="#close" title="cerrar" class="cerrar">X</a>

                  <!--Modal-------------------->
                  <table border="0" width="900" style="margin: 0 auto;">
                    <tr>

                      <td>
                        <center>
                          <h3 class="text-success">Editar compra #1</h3>
                        </center><br>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <table border="0">
                          <!--ESPACIO-->
                          <tr>
                            <td>
                              <br>
                            </td>
                          </tr>

                          <!--FIN ESPACIO-->
                          <tr>

                            <td></td>
                            <td><label for="fecha">Fecha:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.fecha.$touched && formItem.fecha.$invalid }">
                                <input id="fecha" type="date" name="fecha" ng-model="item.fecha" placeholder="fecha"
                                  class="form-control" placeholder="dd-MM-yyyy" required>
                              </div>
                            </td>


                            <td><label for="precio">Precio/Unitario:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.precio.$touched && formItem.precio.$invalid }">
                                <input id="precio" type="number" name="precio" ng-model="item.precio" readonly
                                  placeholder="precio" class="form-control" required>
                              </div>
                            </td>

                            <td><label for="cantidad">Cantidad:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.cantidad.$touched && formItem.cantidad.$invalid }">
                                <input id="cantidad" type="number" name="cantidad" ng-model="item.cantidad"
                                  placeholder="cantidad" class="form-control" required>
                              </div>
                            </td>
                          </tr>

                          <!--ESPACIO-->
                          <tr>
                            <td>
                              <br>
                            </td>
                          </tr>
                          <!--FIN ESPACIO-->

                          <tr>

                            <td></td>
                            <td><label for="observacion">Observación:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.observacion.$touched && formItem.observacion.$invalid }">
                                <input id="observacion" type="text" name="observacion" ng-model="item.observacion"
                                  placeholder="observacion" class="form-control" required>
                              </div>
                            </td>

                            <td><label for="nombreproducto">Nombre Producto:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.nombreproducto.$touched && formItem.nombreproducto.$invalid }">
                                <input id="nombreproducto" type="text" name="nombreproducto"
                                  ng-model="item.nombreproducto" placeholder="Nombre producto" class="form-control"
                                  required>
                              </div>
                            </td>

                            <td><label for="IDCompra">ID Compra:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.IDCompra.$touched && formItem.IDCompra.$invalid }">
                                <input id="IDCompra" type="text" readonly=»readonly» name="IDCompra"
                                  ng-model="item.IDCompra" placeholder="IDCompra" class="form-control" required>
                              </div>
                            </td>
                          </tr>

                          <!--ESPACIO-->
                          <tr>
                            <td>
                              <br>
                            </td>
                          </tr>
                          <!--FIN ESPACIO-->

                          <tr>

                            <td></td>
                            <td><label for="IDInventario">ID Inventario:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.IDInventario.$touched && formItem.IDInventario.$invalid }">
                                <input id="IDInventario" type="text" name="IDInventario" ng-model="item.IDInventario"
                                  placeholder="IDInventario" class="form-control" required>
                              </div>
                            </td>


                            <td><label for="IDUsuario">ID Usuario:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.IDUsuario.$touched && formItem.IDUsuario.$invalid }">

                                <input id="IDUsuario" type="text" name="IDUsuario" ng-model="item.IDUsuario"
                                  placeholder="IDUsuario" class="form-control" required>
                              </div>
                            </td>

                            <td><label for="tipoCompra">Tipo de Compra:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.tipoCompra.$touched && formItem.tipoCompra.$invalid }">

                                <select class="form-control" id="tipoCompra">
                                  <option id="elija">..Elija el tipo de compra..</option>
                                  <option id="cheque">Cheque</option>
                                  <option id="efectivo">Efectivo</option>
                                  <option id="credito">Crédito</option>
                                </select>
                              </div>
                            </td>
                          </tr>

                          <!--ESPACIO-->
                          <tr>
                            <td>
                              <br>
                            </td>
                          </tr>
                          <!--FIN ESPACIO-->


                          <tr>

                            <td></td>
                            <td><label for="tipoProducto">Tipo de Producto:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.tipoProducto.$touched && formItem.tipoProducto.$invalid }">
                                <select class="form-control" id="tipoProducto">
                                  <option id="elija">..Elija el tipo de producto..</option>
                                  <option id="efectivo">Insumo Oficina</option>
                                  <option id="efectivo">Insumo Venta</option>
                                </select>
                              </div>
                            </td>


                            <td><label for="totalCompra">Total Compra:</label></td>
                            <td>
                              <div class="form-group"
                                ng-class="{ 'has-error': formItem.totalCompra.$touched && formItem.totalCompra.$invalid }">
                                <input id="totalCompra" type="number" name="totalCompra" ng-model="item.totalCompra" readonly
                                  placeholder="totalCompra" class="form-control" required>
                              </div>
                            </td>
                          </tr>
                </div>

        </tbody>
      </table>
      <br>
      <button class="btn btn-success" type="submit">Modificar</button>
    </div>
    </td>
    </td>
    </tr>
    </table>

    <td><button type="button" class="btn btn-danger">Borrar</button></td>
    </tr>

    </tr>
    </tbody>
    </table>

    <!--<b> Tax Totals: </b> {{ taxTotals | sumFilter | currency }}-->
    <p><b>Total de Items: </b> {{filteredItem.length}} de {{items.length}}</p>

    <p ng-hide="filteredItem.length">No hay resultados de su busqueda</p>

    <p><b>Total en compras</b> = {{filteredItem| sumOfValue:'totalCompra'| currency:"L." }} de {{ (totalCompra) |
      currency:"L." }}</p>

    </div>
    </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="/JS/Compras.js"></script>
  </body>

  </html>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="/JS/Menu.js"></script>


</body>

</html>